@charset "UTF-8";
body {
  color: #757575;
  background-color: #ffffff;
  letter-spacing: 0.03em;
  font-family: roboto, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.list {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.visually-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  min-width: 231px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    width: 1200px;
  }
}

.section__header {
  /* заголовки секций */
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

body.modal-open {
  overflow: hidden;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1600px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .contakts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1600px) {
  .contakts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header__link, .footer__link {
  font-size: 18px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .header__link, .footer__link {
    font-size: 14px;
  }
}

.header__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: inherit;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .header__link {
    line-height: 1.14;
  }
}

@media screen and (min-width: 1600px) {
  .header__link:not(:last-child) {
    margin-right: 30px;
  }
}

.header__link:hover, .header__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .header__link:first-child {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .header__link:first-child {
    margin-bottom: 10px;
  }
}

.header__link:last-child {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .header__link:last-child {
    margin-bottom: 0px;
  }
}

.contakts__icon {
  /* иконки в ссылках */
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover .contakts__icon,
.header__link:focus .contakts__icon {
  fill: #2196f3;
}

.address {
  /* блок с адресом */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.address__mail {
  margin-bottom: 9px;
}

.footer__link {
  /* контакты */
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.71;
}

.footer__link:hover, .footer__link:focus {
  color: #2196f3;
}

.header__logo, .footer__logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header__logo {
  color: #000000;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header__logo--accent {
  color: #2196f3;
}

.footer__logo {
  margin-bottom: 20px;
  color: #ffffff;
}

.footer__logo--accent {
  color: #2196f3;
}

header {
  position: relative;
}

.mobile-menu {
  z-index: 100;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
  }
  .mobile-menu.is-open {
    display: block;
    border-top: 1px solid #ececec;
  }
  .mobile-menu .header__link {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 68px;
  }
}

@media screen and (min-width: 1600px) {
  .mobile-menu {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .navigation {
    margin-right: 68px;
  }
}

@media screen and (max-width: 767px) {
  .nav__item:not(:last-child) {
    margin-bottom: 40px;
  }
}

.nav__link {
  position: relative;
  display: inline-block;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .nav__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link--current {
  color: #2196f3;
}

.nav__link--current::after {
  position: absolute;
  bottom: -8px;
  left: 0;
  display: inline-block;
  content: "";
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .nav__link--current::after {
    bottom: 0;
  }
}

.header__container {
  position: relative;
}

.menu-button {
  border: none;
  background-color: #ffffff;
  position: absolute;
  top: 10px;
  right: 0;
}

.menu-button:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button__icon {
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:hover .menu-button__icon,
.menu-button:focus .menu-button__icon {
  fill: #2196f3;
}

.menu-button__icon--menu-close {
  display: none;
}

.menu-button.is-open .menu-button__icon--menu-close {
  display: block;
}

.menu-button.is-open .menu-button__icon--menu {
  display: none;
}

.hero {
  height: 400px;
  max-width: 480px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(./../images/mobile-hero-1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../images/mobile-hero-1x.jpg);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  color: #ffffff;
  letter-spacing: 0.06em;
  text-align: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero .box {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(./../images/mobile-hero-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../images/mobile-hero-2x.jpg);
  }
}

@media screen and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(./../images/tablet-hero-1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../images/tablet-hero-1x.jpg);
    background-size: cover;
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero .box {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(./../images/tablet-hero-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../images/tablet-hero-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(./../images/desctop-hero-1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../images/desctop-hero-1x.jpg);
    background-size: cover;
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero .box {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(./../images/desctoop-hero-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../images/desctoop-hero-2x.jpg);
  }
}

@media screen and (min-width: 1600px) {
  .hero {
    height: 600px;
    max-width: 1600px;
  }
}

.hero__title {
  display: inline-block;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-transform: uppercase;
  max-width: 360px;
  margin-bottom: 30px;
  margin-top: 0;
  padding-top: 118px;
}

@media screen and (min-width: 1600px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
    padding-top: 200px;
  }
}

@media screen and (max-width: 360px) {
  .hero__title {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.hero__btn {
  display: inline-block;
  padding: 10px 32px;
}

.feature__title {
  /* заголовок пункта списка */
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .feature-list__item {
    width: 354px;
  }
  .feature-list__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1600px) {
  .feature-list__item {
    width: 270px;
  }
}

@media screen and (max-width: 767px) {
  .feature-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.feature__description {
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
}

.feature__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f4fa;
  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;
}

.occupations__section {
  display: block;
  padding-top: 0;
  padding-bottom: 94px;
}

@media screen and (max-width: 1599px) {
  .occupations__section {
    display: none;
  }
}

.occupations-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.occupations-list__item {
  width: calc((100% - 60px) / 3);
}

.occupation-card {
  /* обертка для картинки и подписи поверх */
  position: relative;
}

.occupation-card__description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  padding-top: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

.team__section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1600px) {
  .team__section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 767px) {
  .member:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .member {
    width: 354px;
  }
  .member:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1600px) {
  .member {
    width: 270px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.member__card {
  /* карточка члена команды */
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member__photo {
  margin-bottom: 30px;
}

.member__name {
  /* имя члена команды */
  color: #212121;
  font-weight: 500;
  font-size: inherit;
  margin-top: 0px;
  margin-bottom: 10px;
}

.member__profession {
  /* профессия члена команды */
  margin-top: 0;
  margin-bottom: 16px;
}

.socmedia-list {
  /* иконки соцсетей */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 206px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 30px;
}

.socmedia__link {
  /* ссылка на соцсеть */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socmedia__link:hover, .socmedia__link:focus {
  background-color: #2196f3;
}

.socmedia__icon {
  /* иконка соцсети */
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socmedia__link:hover .socmedia__icon,
.socmedia__link:focus .socmedia__icon {
  fill: #ffffff;
}

@media screen and (max-width: 767px) {
  .join {
    margin-bottom: 60px;
  }
}

.join__list {
  /* список соцсетей */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 206px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.join__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.join__icon {
  fill: #ffffff;
}

@media screen and (min-width: 480px) {
  .client-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 479px) {
  .client-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .client-list__item:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1599px) {
  .client-list__item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

.client-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 90px;
  border: 1px solid #afb1b8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .client-list__link {
    width: 210px;
  }
}

@media screen and (min-width: 1600px) {
  .client-list__link {
    width: 170px;
  }
}

.client-list__link:focus, .client-list__link:hover {
  border: 1px solid #2196f3;
}

.client-list__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list__link:hover .client-list__icon,
.client-list__link:focus .client-list__icon {
  fill: #2196f3;
}

@media screen and (min-width: 1600px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer {
  background-color: #2f303a;
  color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1599px) {
  .footer {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .logo-box {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1600px) {
  .logo-box {
    margin-right: 70px;
  }
}

.address__city {
  /* адрес */
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 9px;
}

.footer-area__title {
  /* слоган */
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .tablet__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1600px) {
  .tablet__footer {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .signup {
    margin-top: 60px;
    margin-right: 0;
    margin-left: auto;
  }
}

.signup__input {
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1599px) {
  .signup__input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 480px) {
  .signup__input {
    width: 450px;
  }
}

@media screen and (min-width: 1600px) {
  .signup__input {
    width: 370px;
    margin-right: 12px;
  }
}

.signup__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.signup__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.signup__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.signup__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.signup__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px 28px 10px 29px;
}

.signup__icon {
  margin-left: 10px;
  fill: #ffffff;
}

.backdrop {
  /* серый фон */
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

@media screen and (max-width: 479px) {
  .backdrop {
    padding: 20px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media screen and (min-width: 480px) {
  .backdrop.is-hidden .modal {
    -webkit-transform: translate(-50%) scale(1.5);
            transform: translate(-50%) scale(1.5);
  }
}

.checkbox {
  margin-bottom: 30px;
}

.checkbox__choose {
  /* кастомный чекбокс */
  display: inline-block;
  position: relative;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 1px solid #212121;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:hover .checkbox__choose {
  border-color: #2196f3;
}

.checkbox__input:checked + .checkbox__choose {
  background-color: #2196f3;
  border-color: #2196f3;
}

.checkbox__input:focus + .checkbox__choose {
  border-color: #2196f3;
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1600px) {
  .checkbox__label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__link {
  color: #2196f3;
  font-size: 11px;
  position: relative;
  margin-left: 4px;
}

@media screen and (min-width: 1600px) {
  .checkbox__link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__link::after {
  position: absolute;
  bottom: 1px;
  left: 0;
  display: inline-block;
  content: "";
  width: 100%;
  height: 1px;
  background: #2196f3;
  border-radius: 2px;
}

.checkbox__icon {
  position: absolute;
  top: -2px;
  left: -2px;
  fill: #ffffff;
}

.form {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin-bottom: 20px;
}

.form__title {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__field:not(:last-child) {
  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 42px;
  height: 40px;
}

.form__input:hover, .form__input:focus {
  border-color: #2196f3;
  cursor: pointer;
}

.form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:hover .form__icon,
.form__field:focus .form__icon {
  fill: #2196f3;
}

.form__textarea {
  height: 120px;
  resize: none;
  padding: 12px 16px 12px 16px;
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (min-width: 1600px) {
  .form__textarea {
    font-size: 12px;
    line-height: 1.17;
  }
}

.form__textarea::-webkit-input-placeholder {
  letter-spacing: 0.01em;
  font-size: 14px;
  line-height: 1.14;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea:-ms-input-placeholder {
  letter-spacing: 0.01em;
  font-size: 14px;
  line-height: 1.14;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::-ms-input-placeholder {
  letter-spacing: 0.01em;
  font-size: 14px;
  line-height: 1.14;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::placeholder {
  letter-spacing: 0.01em;
  font-size: 14px;
  line-height: 1.14;
  color: rgba(117, 117, 117, 0.5);
}

.form__btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__btn {
  display: inline-block;
  padding: 10px 55px;
}

.modal {
  z-index: 1000;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    top: 93px;
    left: 50%;
    -webkit-transform: translate(-50%) scale(1);
            transform: translate(-50%) scale(1);
    width: 450px;
  }
}

@media screen and (min-width: 1600px) {
  .modal {
    width: 528px;
  }
}

.close {
  /* кнопка закрытия мод окна */
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close:hover {
  cursor: pointer;
}

.close__icon {
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover .close__icon,
.close:focus .close__icon {
  fill: #2196f3;
}
/*# sourceMappingURL=main.css.map */