@charset "UTF-8";
body {
  color: #757575;
  background-color: #ffffff;
  letter-spacing: 0.03em;
  font-family: roboto, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.list {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn:hover {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  min-width: 231px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section__header {
  /* заголовки секций */
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

body.modal-open {
  overflow: hidden;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .contakts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .contakts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header__link, .footer__link {
  font-size: 18px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .header__link, .footer__link {
    font-size: 14px;
  }
}

.header__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: inherit;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .header__link {
    line-height: 1.14;
  }
}

@media screen and (min-width: 1200px) {
  .header__link:not(:last-child) {
    margin-right: 30px;
  }
}

.header__link:hover, .header__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .header__link:first-child {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__link:first-child {
    margin-bottom: 10px;
  }
}

.header__link:last-child {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .header__link:last-child {
    margin-bottom: 0px;
  }
}

.contakts__icon {
  /* иконки в ссылках */
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover .contakts__icon,
.header__link:focus .contakts__icon {
  fill: #2196f3;
}

.address {
  /* блок с адресом */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.address__mail {
  margin-bottom: 9px;
}

.footer__link {
  /* контакты */
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.71;
}

.footer__link:hover, .footer__link:focus {
  color: #2196f3;
}

.header__logo, .footer__logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header__logo {
  color: #000000;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header__logo--accent {
  color: #2196f3;
}

.footer__logo {
  margin-bottom: 20px;
  color: #ffffff;
}

.footer__logo--accent {
  color: #2196f3;
}

header {
  position: relative;
}

.mobile-menu {
  z-index: 100;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
  }
  .mobile-menu.is-open {
    display: block;
    border-top: 1px solid #ececec;
  }
  .mobile-menu .header__link {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 68px;
  }
}

@media screen and (min-width: 1200px) {
  .mobile-menu {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation {
    margin-right: 68px;
  }
}

@media screen and (max-width: 767px) {
  .nav__item:not(:last-child) {
    margin-bottom: 40px;
  }
}

.nav__link {
  position: relative;
  display: inline-block;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .nav__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link--current {
  color: #2196f3;
}

.nav__link--current::after {
  position: absolute;
  bottom: -8px;
  left: 0;
  display: inline-block;
  content: "";
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .nav__link--current::after {
    bottom: 0;
  }
}

.header__container {
  position: relative;
}

.menu-button {
  border: none;
  background-color: #ffffff;
  position: absolute;
  top: 10px;
  right: 0;
}

.menu-button:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button__icon {
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:hover .menu-button__icon,
.menu-button:focus .menu-button__icon {
  fill: #2196f3;
}

.menu-button__icon--menu-close {
  display: none;
}

.menu-button.is-open .menu-button__icon--menu-close {
  display: block;
}

.menu-button.is-open .menu-button__icon--menu {
  display: none;
}

.socmedia-list {
  /* иконки соцсетей */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 206px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 30px;
}

.socmedia__link {
  /* ссылка на соцсеть */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socmedia__link:hover, .socmedia__link:focus {
  background-color: #2196f3;
}

.socmedia__icon {
  /* иконка соцсети */
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socmedia__link:hover .socmedia__icon,
.socmedia__link:focus .socmedia__icon {
  fill: #ffffff;
}

@media screen and (max-width: 767px) {
  .join {
    margin-bottom: 60px;
  }
}

.join__list {
  /* список соцсетей */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 206px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.join__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.join__icon {
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer {
  background-color: #2f303a;
  color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .logo-box {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-box {
    margin-right: 70px;
  }
}

.address__city {
  /* адрес */
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 9px;
}

.footer-area__title {
  /* слоган */
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .tablet__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .tablet__footer {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .signup {
    margin-top: 60px;
    margin-right: 0;
    margin-left: auto;
  }
}

.signup__input {
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1199px) {
  .signup__input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 480px) {
  .signup__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .signup__input {
    width: 370px;
    margin-right: 12px;
  }
}

.signup__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.signup__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.signup__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.signup__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.signup__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px 28px 10px 29px;
}

.signup__icon {
  margin-left: 10px;
  fill: #ffffff;
}

.port-header {
  /* хедер */
  border-bottom: 1px solid #ececec;
}

.filter-collection {
  /* форма либо контейнер нав */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter-collection {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-collection {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 398px) and (max-width: 767px) {
  .filter-collection {
    min-height: 91px;
  }
}

@media screen and (max-width: 398px) {
  .filter-collection {
    min-height: 144px;
  }
}

.filter {
  /* метка либо кнопка */
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  border-color: transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
}

.filter:not(:last-child) {
  margin-right: 8px;
}

.filter-collection input:focus + .filter {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter:hover {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work-example__title {
  /* заголовок карточки портфолио */
  color: #212121;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}

.work-example__area {
  /* текст в карточке портфолио */
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .work-example {
    max-width: 450px;
  }
  .work-example:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work-example {
    width: 354px;
  }
  .work-example:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .work-example {
    width: calc((100% - 60px) / 3);
  }
  .work-example:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.work-example__text-wrapper {
  /* контейнер для всего текста под картинкой */
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.work-example__image-wrapper {
  /* обертка для картинки и текста поверх */
  position: relative;
  overflow: hidden;
}

.cards-collection {
  /* список карточек */
}

@media screen and (min-width: 768px) {
  .cards-collection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.work-example__link {
  /* в ссылке вся карточка */
  display: inline-block;
}

.work-example__link:hover, .work-example__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-example__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  padding: 77px 24px;
  margin: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}

@media screen and (min-width: 768px) {
  .work-example__description {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .work-example__description {
    padding: 63px 24px;
  }
}

.work-example__link:hover .work-example__description,
.work-example__link:focus .work-example__description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
/*# sourceMappingURL=portfolio.css.map */