.client-list {
  @media screen and(min-width: 480px) {
    @include flex-container($justif: space-between, $align: stretch);
    flex-wrap: wrap;
  }
}
.client-list__item {
  @media screen and(max-width: 479px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and(max-width: 767px) {
    &:nth-child(-n + 4) {
      margin-bottom: 30px;
    }
  }
  @media screen and(max-width: 1599px) {
    &:nth-child(-n + 3) {
      margin-bottom: 30px;
    }
  }
}
.client-list__link {
  @include flex-container;
  width: 100%;
  height: 90px;

  border: 1px solid $icon-color;
  transition: border-color 250ms $cubic;
  &:focus,
  &:hover {
    border: 1px solid $accent-color;
  }
  @media screen and(min-width: 480px) {
    width: 210px;
  }
  @media screen and(min-width: $desctop) {
    width: 170px;
  }
}
.client-list__icon {
  fill: $icon-color;
  transition: fill 250ms $cubic;
  .client-list__link:hover &,
  .client-list__link:focus & {
    fill: $accent-color;
  }
}
