.footer__container {
  @media screen and(min-width: $desctop) {
    @include flex-container($align: baseline, $justif: flex-start);
  }
}
.footer {
  background-color: $bgc;
  color: $white-color;
  @include section-padding(60px, 60px);

  @media screen and(max-width: 1199px) {
    text-align: center;
  }
}
.logo-box {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and(min-width: $desctop) {
    margin-right: 70px;
  }
}
.address__city {
  /* адрес */
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  margin-top: 0;
  margin-bottom: 9px;
}

.footer-area__title {
  /* слоган */
  display: block;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 20px;
}
.tablet__footer {
  @media screen and(min-width: $tablet) {
    @include flex-container($justif: space-around, $align: baseline);
  }
  // @media screen and(min-width: $desctop) {
  //   align-items: baseline;
  // }
}
.signup {
  @media screen and(min-width: $tablet) {
    margin-top: 60px;
    margin-right: 0;
    margin-left: auto;
  }
}
.signup__input {
  @media screen and(max-width: 1199px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    margin-bottom: 20px;
  }
  @media screen and(min-width: 480px) {
    width: 450px;
  }
  @media screen and(min-width: $desctop) {
    width: 370px;
    margin-right: 12px;
  }
  height: 50px;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  background-color: $bgc;
  border: 1px solid $footer-input-border;
  border-radius: 4px;
  color: $footer-address-color;
  &::placeholder {
    color: $footer-address-color;
  }
}
.signup__btn {
  @include flex-container(inline-flex, $justif: flex-start);

  padding: 10px 28px 10px 29px;
}
.signup__icon {
  margin-left: 10px;
  fill: $white-color;
}
