$headers-color: #212121;
$accent-color: #2196f3;
$accent-opacity-color: rgba(33, 150, 243, 0.9);
$text-color: #757575;
$white-color: #ffffff;
$black-color: #000000;
$portfolio-border: #eeeeee;
$port-header-border: #ececec;
$bgc: #2f303a;
$button-bcg-color: #f5f4fa;
$footer-address-color: rgba(255, 255, 255, 0.6);
$footer-icons-bcg-color: rgba(255, 255, 255, 0.1);
$hero-bg-color: rgba(47, 48, 58, 0.4);
$wedo-bgc: rgba(47, 48, 58, 0.8);
$icon-color: #afb1b8;
$modal-bgc: rgba(0, 0, 0, 0.2);
$close-border-color: rgba(0, 0, 0, 0.1);
$form-field-border: rgba(33, 33, 33, 0.2);
$footer-input-border: rgba(255, 255, 255, 0.3);
$textarea-placeholder-color: rgba(117, 117, 117, 0.5);
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$smartphone: 480px;
$tablet: 768px;
$desctop: 1200px;
